<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <p><%= member_id %></p>
    <p><%= member_name %></p>
    <input type="button" value="登出" onclick="javascript:location.href='/member/logout'">
  </body>
</html>