<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>請先登入/註冊</h1>
    <input type="button" value="登入" onclick="javascript:location.href='/member/login'">
    <input type="button" value="註冊" onclick="javascript:location.href='/member/register'">
  </body>
</html>
