<!DOCTYPE html>
<html>
  <head>
    <%- include('bootstrap.ejs'); -%>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <title><%= title %></title>
  </head>
  <body>
    <% if (member_id) { %>  
    <%- include('navbar.ejs'); -%>
    <div class="page-wrapper toggled">
      <%- include('sidebar.ejs'); -%> 
      <main class="page-content">
        <h2>123123</h2>
      </main>
    </div>
             
    <% }else{%>
    <input type="button" value="登入" onclick="javascript:location.href='/member/login'">
    <input type="button" value="註冊" onclick="javascript:location.href='/member/register'">
    <%}%>
  </body>
</html>