<!DOCTYPE html>
<html>
  <head>
    <%- include('bootstrap.ejs'); -%>
    <title><%= title %></title>
  </head>
  <body>
    <% if (member_id) { %>
      <%- include('navbar.ejs'); -%>
        <div class="nav">
          社群編號<p><%= community_id %></p>
        </div>
        
    <% }else{%>
    <input type="button" value="登入" onclick="javascript:location.href='/member/login'">
    <input type="button" value="註冊" onclick="javascript:location.href='/member/register'">
    <%}%>
  </body>
</html>