<!DOCTYPE html>
<html>
  <head>
    <%- include('bootstrap.ejs'); -%>
    <script src="/javascripts/lessonplanEdit.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <title><%= title %></title>
  </head>
  <body>
    <% if (member_id) { %>  
    <%- include('navbar2.ejs'); -%>
    <div class="page-wrapper">
      <%- include('sidebar.ejs'); -%>
      <div class="page-content">
        <div class="content">
          <nav id="change-page" aria-label="...">
            <ul class="pagination justify-content-center">
              <li class="page-item active" aria-current="page">
                <span class="page-link">
                  教案撰寫<span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="page-item"><a class="page-link" href="">想法討論</a></li>
            </ul>
          </nav>
          <div class="card">
            <div class="card-header text-white bg-selfblue">
              訂定課程目標
            </div>
            <div id="setlesson" class="card-body">
              <!--<div class='card' id='cardid"+data.id+"'>
                <div class='card-header bg-white' id='header"+data.id+"'>title
                    <span class='float-right' data-toggle='collapse' data-target='#"+data.id+"'>
                        <i id='"+data.id+"icon' aria-hidden='true'></i>
                    </span>
                </div>
                <div class='card-body collapse show' id='"+data.id+"'>
                  <div class="form-group row">
                    <label class="control-label col-sm-2">教案簡介</label>
                    <div class="col-sm-10">
                      <textarea id="lessonplan_intro" class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-2">課程領域</label>
                    <div class="col-sm-10">
                      <select id="lessonplan_field" class="form-control">
                        <option>國語</option>
                        <option>英語</option>
                        <option>自然</option>
                        <option>數學</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="control-label col-sm-2">授課時間</label>
                    <div class="col-sm"><input type="text" id="lessonplan_time_class" class="form-control"></div>
                    <div class="col-sm-1"><label>節課，共</label></div>
                    <div class="col-sm"><input type="text" id="lessonplan_time_minutes" class="form-control"></div>
                    <div class="col-sm-1"><label>分鐘</label></div>  
                  </div>
                  <div class="bt-group float-right">
                    <input type="button" class="btn btn-secondary" value="清除">
                    <input type="button" class="btn btn-primary" value="儲存">
                  </div>
                </div>card-body end-->
              <!--</div>card end-->
            </div><!--setlesson end-->
          </div>
          <div class="card">
            <div class="card-header text-white bg-selfblue">
              活動與評量設計
            </div>
            <div class="card-body">
            </div>
          </div>
        </div><!--content end-->
      </div><!--pagecontent end-->
    </div>
    <% }else{%>
    <input type="button" value="登入" onclick="javascript:location.href='/member/login'">
    <input type="button" value="註冊" onclick="javascript:location.href='/member/register'">
    <%}%>
  </body>
</html>