<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('bootstrap.ejs'); -%>
    <link rel="stylesheet" type="text/css" href="/stylesheets/util.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="/javascripts/member.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
            <span class="login100-form-title">Sign In</span>

            <div class="alert alert-danger" role="alert" id="errmsg" style="display: none;"></div>
            <div id="loginRoot" name="loginRoot" class="Root"></div>
  
            <div class="container-login100-form-btn p-t-13">
              <input type="button" id="loninbt" value="登入"class="postbt login100-form-btn" onclick="postData()">
            </div>
  
            <div class="flex-col-c p-t-170 p-b-40">
              <span class="txt1 p-b-9">還沒有帳號嗎？</span>
              <a href="/member/register" class="txt3">前往註冊</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
