<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/member.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div id="loginRoot" name="loginRoot" class="Root">
      <p id='errmsg'></p>
    </div>
    <input type="button" id="loninbt" value="登入" class="postbt" onclick="postData()">
    <input type="button" value="註冊" onclick="javascript:location.href='/member/register'">
  </body>
</html>
