<!--新增活動流程-->
<div class="modal fade" id="addprocessModal" tabindex="-1" role="dialog" aria-labelledby="addprocessModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-selfblue text-white">
          <h5 class="modal-title" id="addprocessModalLabel">新增活動流程</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-white" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" id="processalert" role="alert" style="display: none;"></div>
          <div class="form-group">
            <label class="control-label">學習目標</label>
            <input type="text" class="form-control" id="processtarget">
          </div>
          <div class="form-group">
            <label class="control-label">活動流程</label>
            <div class="row">
              <div class="col-3">
                <div class="card border-light">
                  <div class="card-header nopadding-all">
                    <select class="form-control bg-light" id="processcontent_sel_1">
                        <option value="1">探究活動模組</option>
                        <option value="2">一般活動模組</option>
                    </select>
                  </div>
                  <div class="card-body nopadding-all mt-2">
                    <select class="form-control" id="processcontent_sel_2" size="7"></select>
                  </div>
                </div>
              </div>
              <div class="col">
                <textarea class="fixsummernote" id="processcontent"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">時間</label>
            <small class="control-label">(單位：分鐘)</small>
            <input type="number" class="form-control" id="processtime" placeholder="僅可以輸入數字(必填)">
          </div>
          <div class="form-group">
            <label class="control-label">備註</label>
            <input type="text" class="form-control" id="processremark">
          </div>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-secondary" data-dismiss="modal" value="取消">
            <input type="button" class="btn btn-primary" value="加入" onclick="addactivityTr()">
        </div>
      </div>
    </div>
</div>

<!-- 新增評量 -->
<div class="modal fade" id="addassessmentModal" tabindex="-1" role="dialog" aria-labelledby="addassessmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-selfblue text-white">
          <h5 class="modal-title" id="addassessmentModalLabel">新增評量方式</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-white" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span id="targetid"></span>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body nopadding-all text-center">
                    <label class="mt-2">請選擇評量模組</label>
                    <select class="form-control" size="6" id="assessmentselect"></select>
                  </div>
                </div>
              </div>
              <div class="col">
                <textarea class="notoolbarsummernote" id="assessmnetcontent" rows="7"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-outline-dark" value="上傳檔案">
          <input type="button" class="btn btn-primary" value="加入">
        </div>
      </div>
    </div>
  </div>