<!-- 新增社群 -->
<div class="modal fade" id="creatCommunityModal" tabindex="-1" role="dialog" aria-labelledby="creatCommunityModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-selfblue text-white">
        <h5 class="modal-title" id="creatCommunityModalLabel">創立新社群</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true" onclick="closeAddCommunityModal()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" id="errmsg" style="display: none;"></div>
        <div class="form-group">
          <label class="control-label">社群名稱</label>
          <div class="input-group">
            <input type="text" id="community_name" name="community_name" class='form-control' placeholder="請輸入社群名稱" maxlength="20" required autofocus>
          </div>
          <p class="text-secondary"><small>最多可輸入20個字</small></p>
        </div>
        <div class="form-group">
          <label class="control-label">社群密碼</label>
          <div class="input-group">
            <input type="text" id="community_key" name="community_key" class='form-control' placeholder="請輸入社群密碼" required autofocus>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">社群簡介</label>
          <div class="input-group">
            <textarea id="community_intro" class="form-control" rows="5" placeholder="請輸入社群簡介" maxlength="50"></textarea>
          </div>
          <p class="text-secondary"><small>最多可輸入50個字</small></p>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="創立" class="btn btn-primary" onclick="createCommunity()">
      </div>
    </div>
  </div>
</div>

<!-- 新增活動 -->
<div class="modal fade" id="creatActivityModal" tabindex="-1" role="dialog" aria-labelledby="creatActivityModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-selfblue text-white">
        <h5 class="modal-title" data-saveaction="new" data-baseid="" id="creatActivityModalLabel">新增活動</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true" onclick="modalclosebtn('creatActivityModal')">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="activityid" style="display: none;"></p>
        <div class="alert alert-danger" role="alert" id="creatActivityAlert" style="display: none;">活動名稱為必填</div>
        <div class="form-group row">
          <label class="control-label col-sm-2">活動名稱</label>
          <div class="col-sm-10">
              <input type="text" class="form-control activityName" id="activityName" placeholder="請輸入活動名稱">
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-sm-2">學習目標</label>
          <div class="col-sm-10 targetCheckbox"></div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="新增" class="btn btn-primary" onclick="saveLessonplanData('creatActivityModal')">
      </div>
    </div>
  </div>
</div>

<!-- 編輯活動 -->
<div class="modal fade" id="editActivityModal" tabindex="-1" role="dialog" aria-labelledby="editActivityModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-selfblue text-white">
        <h5 class="modal-title" data-saveaction="new" data-baseid="" id="editActivityModalLabel">編輯活動</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true" onclick="modalclosebtn('editActivityModal')">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" id="editActivityAlert" style="display: none;">活動名稱為必填</div>
        <p id="parentCardId" style="display: none;"></p>
        <p class="activityid" id="editactivityid" style="display: none;"></p>
        <div class="form-group row">
          <label class="control-label col-sm-2">活動名稱</label>
          <div class="col-sm-10">
              <input type="text" class="form-control activityName" id="editactivityName" placeholder="請輸入活動名稱">
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-sm-2">學習目標</label>
          <div class="col-sm-10 targetCheckbox"></div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" value="刪除" class="btn btn-danger" onclick="deleteActivityCard()">
        <input type="button" value="儲存" class="btn btn-primary" onclick="saveLessonplanData('editActivityModal')">
      </div>
    </div>
  </div>
</div>

<!-- 調整活動順序 -->
<div class="modal fade" id="orderActvityModal" tabindex="-1" role="dialog" aria-labelledby="orderActvityModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-selfblue text-white">
        <h5 class="modal-title" data-saveaction="new" data-baseid="" id="orderActvityModalLabel">調整活動順序</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true" onclick="modalclosebtn('orderActvityModal')">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="originalIdArray" style="display: none;"></p>
        <table class="table table-bordered" id="orderActivityTable">
          <thead class="thead-light">
            <tr>
              <th scope="col" width="40"></th>
              <th scope="col" width="80">順序</th>
              <th scope="col">活動名稱</th>
            </tr>
          </thead>
          <tbody id="orderActivityTbody"></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <input type="button" data-dismiss="modal" value="取消" class="btn btn-secondary" onclick="modalclosebtn('orderActvityModal')">
        <input type="button" data-dismiss="modal" value="確定" class="btn btn-primary" onclick="checkActivityProcess()">
      </div>
    </div>
  </div>
</div>

<!--新增活動流程-->
<div class="modal fade" id="addprocessModal" tabindex="-1" role="dialog" aria-labelledby="addprocessModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-selfblue text-white">
          <h5 class="modal-title" id="addprocessModalLabel">新增活動流程</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalclosebtn('addprocessModal')">
            <span class="text-white" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span id="parentid" style="display: none;"></span>
          <div class="alert alert-danger processalert" id="processalert" role="alert" style="display: none;"></div>
          <div class="form-group">
            <label class="control-label"><b>學習目標</b></label>
            <!-- <input type="text" class="form-control processtarget" id="processtarget"> -->
            <div class="targetCheckbox pl-2"></div>
          </div>
          <div class="form-group">
            <label class="control-label"><b>活動流程</b></label>
            <div class="row">
              <div class="col-3">
                <div class="card border-light">
                  <div class="card-header nopadding-all">
                    <select class="form-control bg-light processcontent_sel_1" id="processcontent_sel_1">
                        <option value="1">探究活動模組</option>
                        <option value="2">一般活動模組</option>
                        <option value="3">自定義活動模組</option>
                    </select>
                  </div>
                  <div class="card-body nopadding-all mt-2">
                    <select class="form-control processcontent_sel_2" id="processcontent_sel_2" size="7"></select>
                  </div>
                </div>
                <input type="button" class="customProcessTag btn btn-outline-primary mt-1" value="新增自定義流程模組">
              </div>
              <div class="col">
                <textarea class="fixsummernote processcontent" id="processcontent"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group addCustomProcessTag" style="display: none;">
            <div class="form-row">
              <div class="col-10">
                <label class="control-label"><b>自定義流程模組</b></label>
              </div>
              <div class="col float-right">
                <a class="saveCustomTag float-right" href="javascript:void(0)"><i class="far fa-check-circle">儲存模組</i></a>
              </div>
            </div>
            <!-- <input type="text" class="form-control" name="processTagInput" value="123,456"> -->
          </div>
          <div class="form-group">
            <label class="control-label"><b>時間</b></label>
            <small class="control-label">(單位：分鐘)</small>
            <input type="number" class="form-control processtime" id="processtime" placeholder="僅可以輸入數字(必填)" min="1">
          </div>
          <div class="form-group">
            <label class="control-label"><b>備註</b></label>
            <input type="text" class="form-control processremark" id="processremark">
          </div>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-secondary" data-dismiss="modal" value="取消" onclick="modalclosebtn('addprocessModal')">
            <input type="button" class="btn btn-primary" value="加入" onclick="addactivityTr()">
        </div>
      </div>
    </div>
</div>

<!--修改活動流程-->
<div class="modal fade" id="editprocessModal" tabindex="-1" role="dialog" aria-labelledby="editprocessModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-selfblue text-white">
        <h5 class="modal-title" id="editprocessModalLabel">修改活動流程</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalclosebtn('editprocessModal')">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="editactivitycardid" style="display: none;"></span>
        <span id="editparentid" style="display: none;"></span>
        <span id="tbodyid" style="display: none;"></span>
        <span id="dataindex" style="display: none;"></span>
        <div class="alert alert-danger processalert" id="editprocessalert" role="alert" style="display: none;"></div>
        <div class="form-group">
          <label class="control-label"><b>學習目標</b></label>
          <!-- <input type="text" class="form-control processtarget" id="editprocesstarget"> -->
          <div class="targetCheckbox pl-2"></div>
        </div>
        <div class="form-group">
          <label class="control-label"><b>活動流程</b></label>
          <div class="row">
            <div class="col-3">
              <div class="card border-light">
                <div class="card-header nopadding-all">
                  <select class="form-control bg-light processcontent_sel_1" id="editprocesscontent_sel_1">
                      <option value="1">探究活動模組</option>
                      <option value="2">一般活動模組</option>
                      <option value="3">自定義活動模組</option>
                  </select>
                </div>
                <div class="card-body nopadding-all mt-2">
                  <select class="form-control processcontent_sel_2" id="editprocesscontent_sel_2" size="7"></select>
                </div>
                <input type="button" class="customProcessTag btn btn-outline-primary mt-1" value="新增自定義流程模組">
              </div>
            </div>
            <div class="col">
              <textarea class="fixsummernote processcontent" id="editprocesscontent"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group addCustomProcessTag" style="display: none;">
          <div class="form-row">
            <div class="col-10">
              <label class="control-label"><b>自定義流程模組</b></label>
            </div>
            <div class="col">
              <a class="saveCustomTag float-right" href="javascript:void(0)"><i class="far fa-check-circle">儲存模組</i></a>
            </div>
          </div>
          <!-- <input type="text" class="form-control" name="processTagInput" value="123,456"> -->
        </div>
        <div class="form-group">
          <label class="control-label"><b>時間</b></label>
          <small class="control-label">(單位：分鐘)</small>
          <input type="number" class="form-control processtime" id="editprocesstime" placeholder="僅可以輸入數字(必填)" min="1">
        </div>
        <div class="form-group">
          <label class="control-label"><b>備註</b></label>
          <input type="text" class="form-control processremark" id="editprocessremark">
        </div>
      </div>
      <div class="modal-footer">
          <input type="button" class="btn btn-secondary" data-dismiss="modal" value="取消" onclick="modalclosebtn('editprocessModal')">
          <input type="button" class="btn btn-primary" value="更新" onclick="editActivityModalBtn()">
      </div>
    </div>
  </div>
</div>

<!-- 新增評量 -->
<div class="modal fade" id="addassessmentModal" tabindex="-1" role="dialog" aria-labelledby="addassessmentModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-selfblue text-white">
        <h5 class="modal-title" id="addassessmentModalLabel">新增評量方式</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalclosebtn('addassessmentModal')">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="targetid" style="display: none;"></span>
        <div class="alert alert-danger" role="alert" id="assessmentalert" style="display: none;"></div>
        <div class="form-group">
          <div class="row">
            <div class="col-3">
              <div class="card border-light">
                <div class="card-header nopadding-all text-center">請選擇評量模組</div>
                <div class="card-body nopadding-all mt-2">
                  <select class="form-control assessment_sel" id="assessment_sel" size="8" ></select>
                </div>
              </div>
            </div>
            <div class="col">
              <textarea class="notoolbarsummernote assessmentsummernote" id="assessmentsummernote"></textarea>
              <div class="custom-file mt-2">
                <input type="file" class="custom-file-input" id="assessmentFile">
                <label class="custom-file-label" for="assessmentFile">選擇檔案</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-light" value="清除" onclick="resetsummernote()">
        <input type="button" class="btn btn-primary" value="加入" onclick="addassessmentTd()">
      </div>
    </div>
  </div>
</div>

<!-- 修改評量 -->
<div class="modal fade" id="editassessmentModal" tabindex="-1" role="dialog" aria-labelledby="editassessmentModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-selfblue text-white">
        <h5 class="modal-title" id="editassessmentModalLabel">修改評量方式</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalclosebtn('editassessmentModal')">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert" id="editassessmentalert" style="display: none;"></div>
        <span id="edittargetid" style="display: none;"></span>
        <span id="divindex" style="display: none;"></span>
        <div class="form-group">
          <div class="row">
            <div class="col-3">
              <div class="card border-light">
                <div class="card-header nopadding-all text-center">請選擇評量模組</div>
                <div class="card-body nopadding-all mt-2">
                  <select class="form-control assessment_sel" id="editassessment_sel" size="8" ></select>
                </div>
              </div>
            </div>
            <div class="col">
              <textarea class="notoolbarsummernote assessmentsummernote" id="editassessmentsummernote"></textarea>
              <div class="form-inline" id="showfilename">
                <div id="editfilename"></div>
                <a class="text-danger ml-2" id="deletefile"><i class="fas fa-times"></i></a>
              </div>
              <div class="custom-file mt-2" style="display: none;" id="editfilediv">
                <input type="file" class="custom-file-input" id="editassessmentFile">
                <label class="custom-file-label" for="editassessmentFile">選擇檔案</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-light" value="清除" onclick="resetsummernote()">
        <input type="button" class="btn btn-primary" value="更新" onclick="editAssessmentModalBtn()">
      </div>
    </div>
  </div>
</div>

<!-- 刪除活動警告Modal -->
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="alertModalLabel"><i class="fas fa-exclamation-triangle"></i> 警告</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label id="deleteid" style="display: none;"></label>
        <label id="deletecardid" style="display: none;"></label>
        若<b class="text-danger">刪除</b>此活動，此活動的<b class="text-danger">活動與評量設計</b>的內容也會同時被刪除
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="deleteActivityData()">確定刪除</button>
      </div>
    </div>
  </div>
</div>

<!-- 儲存學習目標警告Modal -->
<div class="modal fade" id="targetalertModal" tabindex="-1" role="dialog" aria-labelledby="targetalertModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="targetalertModalLabel"><i class="fas fa-exclamation-triangle"></i> 警告</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b class="targetAlertLabel text-danger"></b>尚未儲存<br>
        若繼續可能會造成<b class="targetAlertLabel text-danger"></b>資料遺失請問確定要儲存嗎？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="saveLearningTarget()">確定儲存</button>
      </div>
    </div>
  </div>
</div>

<!-- 儲存移動順序警告Modal -->
<div class="modal fade" id="orderalertModal" tabindex="-1" role="dialog" aria-labelledby="orderalertModalalertModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="orderalertModalalertModalLabel"><i class="fas fa-exclamation-triangle"></i> 警告</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b class="orderAlertLabel text-danger"></b>尚未儲存<br>
        若繼續可能會造成<b class="orderAlertLabel text-danger"></b>資料遺失請問確定要儲存嗎？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="sendNewActivityOrder()">確定儲存</button>
      </div>
    </div>
  </div>
</div>

<!--學習目標與活動、評量對應表-->
<div class="modal fade" id="twowaytableModal" tabindex="-1" role="dialog" aria-labelledby="twowaytableModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-selfblue text-white">
        <h5 class="modal-title" id="twowaytableModalLabel">學習目標與活動、評量對應表</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalclosebtn('twowaytableModal')">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <h5><b>活動與學習目標對應表</b></h5>
          <div id="lessonplan_targetandActivity"></div>
        </div>
        <div>
          <h5><b>評量與學習目標對應表</b></h5>
          <div id="lessonplan_targetandAssessment"></div>
        </div>
      </div>
      <div class="modal-footer">
          <input type="button" class="btn btn-primary" data-dismiss="modal" value="確定" onclick="modalclosebtn('twowaytableModal')">
      </div>
    </div>
  </div>
</div>


<!--idea頁面-------------------------------------------------------------------------------------------------------------------->

<!-- 閱讀/修改想法Modal -->
<div class="modal" id="readIdeaModal" tabindex="-1" role="dialog" aria-labelledby="readIdeaModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="readIdeaModalLabel">查看想法</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ideaModalCloseBtn('readIdeaModal')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--閱讀/修改動態頁籤-->
      <ul class="nav nav-tabs mt-3" role="tablist" id="ideaTab" style="display: none;">
        <li class="nav-item">
          <a class="nav-link active" id="read-tab" data-toggle="tab" href="#readmodal" role="tab" aria-controls="readmodal" aria-selected="true">閱讀</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="revise-tab" data-toggle="tab" href="#revisemodal" role="tab" aria-controls="revisemodal" aria-selected="false">修改</a>
        </li>
      </ul>
      <div class="tab-content">
        <!--閱讀想法內容-->
        <div class="tab-pane show active" id="readmodal" role="tabpanel" aria-labelledby="read-tab">
          <div class="modal-body">
            <p class="readNodeid" style="display: none;"></p>
            <div class="text-right"><i class="fas fa-eye readCountDiv"></i></div>
            <div id="readIdeaTag"></div>
            <div id="readIdeaContent" class="mt-3"></div>
            <ul id="readIdeaFileDiv" class="nopadding" style="list-style-type: none;"></ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">確定</button>
            <div class="dropdown">
              <button class="btn btn btn-primary dropdown-toggle" type="button" id="replyMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                回覆
              </button>
              <div class="dropdown-menu" aria-labelledby="replyMenuButton">
                <a class="dropdown-item replyideabtn" data-type="idea" href="javascript:void(0)">回覆想法</a>
                <a class="dropdown-item replyideabtn" data-type="rise_above" href="javascript:void(0)">提出昇華的想法</a>
              </div>
            </div>
          </div>
        </div>
        <!--修改想法內容-->
        <div class="tab-pane" id="revisemodal" role="tabpanel" aria-labelledby="revise-tab">
          <div class="modal-body">
            <p id="reviseCountDiv" style="display: none;"></p>
            <div class="form-group">
              <label class="control-label">標題</label>
              <input type="text" class="form-control" id="reviseIdeaTitle" maxlength="15">
              <small class="text-muted">最多可輸入15個字</small>
            </div>
            <div class="form-group ideatag">
              <label class="col-form-label"><i class="fas fa-tag mr-1"></i>階段Tag</label>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-3">
                  <div class="btn-group-vertical" role="group">
                    <button type="button" class="btn btn-outline-primary ideascaffold">我想知道</button>
                    <button type="button" class="btn btn-outline-primary ideascaffold">我的想法</button>
                    <button type="button" class="btn btn-outline-primary ideascaffold">我的理論</button>
                    <button type="button" class="btn btn-outline-primary ideascaffold">新資訊或參考來源</button>
                    <button type="button" class="btn btn-outline-primary ideascaffold">另一個觀點是</button>
                    <button type="button" class="btn btn-outline-primary ideascaffold">我覺得更好的想法</button>
                    <button type="button" class="btn btn-outline-primary ideascaffold">有發展性的想法</button>
                  </div>
                </div>
                <div class="col">
                  <textarea class="ideasummernote" id="reviseIdeaContent"></textarea>
                  <div class="custom-file mt-2">
                    <input type="file" class="custom-file-input" id="reviseIdeaFile" multiple>
                    <label class="custom-file-label" for="reviseIdeaFile">選擇檔案</label>
                  </div>
                  <div class="reviseIdeaFile"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="saveNode('readIdeaModal')">儲存</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 新增想法Modal -->
<div class="modal" id="createIdeaModel" tabindex="-1" role="dialog" aria-labelledby="createIdeaModelTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" data-nodetype="idea" id="createIdeaModelTitle">新增想法</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ideaModalCloseBtn('createIdeaModel')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="replyNodeId" style="display: none;"></p>
        <div class="form-group">
          <label class="control-label">標題</label>
          <input type="text" class="form-control" id="newIdeaTitle" maxlength="15">
          <small class="text-muted">最多可輸入15個字</small>
        </div>
        <div class="form-group ideatag">
          <label class="col-form-label"><i class="fas fa-tag mr-1"></i>階段Tag</label>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-3">
              <div class="btn-group-vertical" role="group">
                <button type="button" class="btn btn-outline-primary ideascaffold">我想知道</button>
                <button type="button" class="btn btn-outline-primary ideascaffold">我的想法</button>
                <button type="button" class="btn btn-outline-primary ideascaffold">我的理論</button>
                <button type="button" class="btn btn-outline-primary ideascaffold">新資訊或參考來源</button>
                <button type="button" class="btn btn-outline-primary ideascaffold">另一個觀點是</button>
                <button type="button" class="btn btn-outline-primary ideascaffold">我覺得更好的想法</button>
                <button type="button" class="btn btn-outline-primary ideascaffold">有發展性的想法</button>
              </div>
            </div>
            <div class="col">
              <textarea class="ideasummernote" id="newIdeaContent"></textarea>
              <div class="custom-file mt-2">
                <input type="file" class="custom-file-input" id="createNewIdeaFile" multiple>
                <label class="custom-file-label" for="createNewIdeaFile">選擇檔案</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveNode('createIdeaModel')">新增</button>
      </div>
    </div>
  </div>
</div>

<!-- 新增投票Modal -->
<div class="modal" id="createVoteModel" tabindex="-1" role="dialog" aria-labelledby="createVoteModelTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createVoteModelTitle">新增投票</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--閱讀實作節點-->
<div class="modal" id="lessonplanNodeModal" tabindex="-1" role="dialog" aria-labelledby="lessonplanNodeModalModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lessonplanNodeModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ideaModalCloseBtn('lessonplanNodeModal')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="readNodeid" style="display: none;"></p>
        <div id="nodeTip"></div>
      </div>
      <div class="modal-footer">
        <div class="dropdown">
          <button class="btn btn btn-primary dropdown-toggle" type="button" id="replyMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            回覆
          </button>
          <div class="dropdown-menu" aria-labelledby="replyMenuButton">
            <a class="dropdown-item replyideabtn" data-type="idea" href="javascript:void(0)">回覆想法</a>
            <a class="dropdown-item replyideabtn" data-type="rise_above" href="javascript:void(0)">提出昇華的想法</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
