<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/member.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div id="registerRoot" name="registerRoot" class="Root"></div>
    <input type="button" id="test" value="test" onclick="postData()">
    <input type="button" value="重新登入" onclick="javascript:location.href='/member/login'">
  </body>
</html>
