<div id="sidebar-wrapper" class="sidebar-toggle">
    <ul class="sidebar-nav">
        <li class="leave">
            <a href="/dashboard">
                <img src="/images/sign-out.svg" width="20" height="20" class="d-inline-block">
                離開共備社群
            </a>
        </li>
        <li>
            <img src="/images/idea.svg" width="30" height="30" class="d-inline-block">訂定課程目標
            <ul id="editLessonPlan">
                <li><a>教案基本資料</a></li>
                <li><a>安排課程單元/活動</a></li>
                <li><a>課程學習目標</a></li>
                <li><a>學生先備概念</a></li>
                <li><a>核心素養</a></li>
                <li><a>議題融入</a></li>
                <li><a>教學資源及器材</a></li>
                <li><a>教學設計理念</a></li>
                <li><a>因材網知識節點</a></li>
            </ul>
        </li>
        <li>
            <img src="/images/fee.svg" width="30" height="30" class="d-inline-block">活動與評量設計
            <ul id="activityDesign"></ul>
        </li>
    </ul>
</div>