<!DOCTYPE html>
<html>
    <head>
        <%- include('layout/bootstrap.ejs'); -%>
        <script src="/javascripts/taskManager.js"></script>
        <link href="/stylesheets/style.css" rel="stylesheet">
        <title><%= title %></title>
    </head>
    <body>
        <%- include('layout/navbar2.ejs'); -%>
        <p id="community_id" style="display: none;"><%= community_id %></p>
        <div class="pagecontent">
            <button class="btn addtaskBtn btn-block mb-3 p-2" data-toggle="modal" data-target="#addTaskModal"><i class="fas fa-plus mr-2"></i>新增任務</button>
            <div class="row">
                <div class="col taskcolumn">
                    <h4 class="card-header bg-backlog text-white border-0">暫存區</h4>
                    <div class="card-body bg-backlog taskbody">
                        <div class="card mb-3 task">
                            <div class="card-body">
                                要做什麼甚麼什麼
                            </div>
                            <div class="card-footer">
                                <div class="float-right">
                                    <span class="mr-2">王小名</span>
                                    <span>2020/3/3 19:20</span>
                                    <a class="text-danger"><i class="far fa-trash-alt ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col taskcolumn">
                    <h4 class="card-header bg-todo text-white border-0">待辦</h4>
                    <div class="card-body bg-todo taskbody">
                        <div class="card mb-3 task">
                            <div class="card-body">
                                要做什麼甚麼什麼
                            </div>
                            <div class="card-footer">
                                <div class="float-right">
                                    <span class="mr-2">王小名</span>
                                    <span>2020/3/3 19:20</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col taskcolumn">
                    <h4 class="card-header bg-doing text-white border-0">進行中</h4>
                    <div class="card-body bg-doing taskbody"></div>
                </div>
                <div class="col taskcolumn">
                    <h4 class="card-header bg-done text-white border-0">完成</h4>
                    <div class="card-body bg-done taskbody">
                        <div class="card mb-3 task">
                            <div class="card-body">
                                要做什麼甚麼什麼
                            </div>
                            <div class="card-footer">
                                <div class="float-right">
                                    <span class="mr-2">王小名</span>
                                    <span>2020/3/3 19:20</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 新增任務 -->
        <div class="modal" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTaskModalLabel">新增任務</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">儲存</button>
                </div>
            </div>
            </div>
        </div>
    </body>
    <script>
        $(".navbar").find("li .task").toggleClass("active");
        $(".navbar").find("li .task").toggleClass("disabledNav");
    </script>
</html>