body{font-family: '微軟正黑體';}


/**通用類別*******************************/

/*基礎顏色設定*/
.bg-selfgreen{
    background-color: #71C1B4;
}

.bg-selfblue{
    background-color: #065B80;
}

.bg-selfpink{
    background-color: #ED557E;
}

.bg-1{
    background-color: #F16C84;
}
.bg-2{
    background-color: #BF214B;
}
.bg-4{
    background-color: #0E6973;
}

.bg-6{
    background-color: #91cca3;
}

.bg-7{
    background-color: #B5DDC2;
}

.bg-8{
    background-color: #347e9e;
}

.bg-backlog{
    background-color: #47A4CC;
}

.bg-todo{
    background-color: #347895;
}

.bg-doing{
    background-color: #065B80;
}

.bg-done{
    background-color: #04374D;
}

.btn-add-activity{
    color: #ED557E;
    border-color: #ED557E;
}

.btn-add-activity.focus,
.btn-add-activity:focus {
  box-shadow: 0 0 0 0.2rem rgba(237, 85, 126,0.5);
}

.btn-add-activity:hover {
    color: #fff;
    background-color: #ED557E;
    border-color: rgb(237, 85, 126);
  }

/*置左*/
.fixed-left{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    /* z-index: 1030; */
}

/*讓card在col的情況下無左右padding*/
.nopadding{
    padding-left: 0;
    padding-right: 0;
}
  
.nopadding-right{
    padding-right: 0;
}
  
.nopadding-all{
    padding: 0;
}

.padding-sm{
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.padding-sm-all{
    padding:0.2em;
}

.card-body-padding{
    padding: 0.5em;
}

textarea{
    resize: none;
}

.disabledNav{
    pointer-events: none;
}

.hr-margin-sm{
    margin-top: 0;
    margin-bottom: 0.5em;
}

.pagecontent{
    margin-top: 56px;
    padding: 1%;
}

/*******社群入口*******/
/*community 頁面的table上標題*/
.title-bar{
    align-items: center;
    width: 100%;
    height: 60px;
    padding-top: 15px;
}


/*******實作畫面*******/

.wrapper {
    display: flex;
    align-items: stretch;
}

/*新的右邊選單css*/ 
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #065B80;
    color: white;
    transition: all 0.3s;
}
  
#sidebar.active {
    min-width: 70px;
    max-width: 70px;
    text-align: center;
}
  
#sidebar ul li a {
    text-align: left;
}
  
#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}
  
#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
    text-decoration: none;
}
  
#sidebar.active ul ul a {
    padding: 10px !important;
}
  
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
  
#sidebar.active .sidebar-menu{
    display: none;
}
  
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
    text-decoration: none;
}
  
#sidebar ul li a:hover{
    text-decoration: none;
}
  
#sidebar ul li a:hover,#sidebar .sidebar-menu a:focus{
    background: #065071;
    color: white;
    text-decoration: none;
}

#sidebar ul li .onpage{
    background: #065071;
    color: white;
    text-decoration: none;
}
  
#sidebar ul li a i {
    margin-right: 10px;
}
  
#sidebar ul li.active>a,
a[aria-expanded="true"]{
    color: #fff;
    background: #065B80;
}
  
a[data-toggle="collapse"] {
    position: relative;
}
  
#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
  
#sidebar ul ul a {
    font-size: 1.0em !important;
    padding-left: 40px !important;
    background: #065B80;
}
  
/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    margin-top: 56px;
    margin-left: 250px;
    padding-left: 15px;
    padding-right: 15px;
    /* padding: 20px; */
    min-height: 100vh;
    transition: all 0.3s;
    margin-bottom: 50px;
}
  
#content.active{
    margin-left: 70px;
}
  
/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */
  
@media (max-width: 768px) {
    #sidebar {
        min-width: 70px;
        max-width: 70px;
        text-align: center;
        margin-left: -80px !important;
    }
    #sidebar.active .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/*雙向細目表button*/
.btn-circle{
    width: 2.5em;
    height: 2.5em;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    position: fixed;
    z-index: 1035;
    right: 2%;
    bottom: 2%;
    color: #FFF;
}
  
.btn-circle:hover{
    background-color: white;
    color: #065B80;
    border-color: #065B80;
    border-width:medium;
}

/*實作、想法畫面切換button*/
.mode-switch{
    height: 50px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    z-index: 1020;
}
  
.mode-switch-btn{
    left: 15%;
    margin-top: 15px;
    margin-bottom: 12px;
}

.mode_btn{
    color: #FFF;
    border-color: #FFF;
    background-color: #065B80;
}

.mode_btn:not(:disabled):not(.disabled).active,
.mode_btn:not(:disabled):not(.disabled):active{
    color: #065B80;
    border-color: #FFF;
    background-color: #FFF;
}

.mode_btn:hover{
    color: #FFF;
    border-color: #FFF;
    background-color: rgb(14, 123, 170);
}

/*實作畫面儲存button背景*/
.btn-bg{
    height: 50px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
}

/*活動與評量設計內card-body預設高度*/
#setactivity{
    min-height: 20vh;
  }

/*評量link設定*/
.assessment_link{
    color: #065B80;
    text-decoration: underline;
}
  
.assessment_link_del{
    color: #ED557E;
    text-decoration: underline;
}
  
.assessment_link_del:hover{
    color: crimson;
    text-decoration: underline;
}


/*******想法畫面*******/

#ideanetwork{
    width: 100%;
    height: 100vh;
}

#ideanetwork,#socialnetwork .vis-network{
    outline: none;
}

#socialnetwork{
    width: 100%;
    height: 50vh;
}

/*想法畫面toolbar*/
.idea-toolbar{
    height: auto;
    width: auto;
    top: 71px;
    /* left: 0; */
    position: fixed;
    background-color: rgba(181,221,194,0.8);
    z-index: 1;
    text-align: center;
    border-radius: 5px;
}
  
.idea-toolbar img{
    width: 2vw;
}
  
.idea-toolbar .idea-tool{
    height: auto;
    display: block;
    padding: 8px;
}
  
.idea-tool:hover{
    background-color: rgba(113, 193, 180, 0.5);
    text-decoration: none;
}
  
.idea-tooltext{
    margin-top: 2px;
    text-decoration: none;
    color: black;
}

/*******資源管理*******/
.uploadFileBtn{
    background-color: #71C1B4;
    color: white;
}

.uploadFileBtn:hover{
    color: #71C1B4;
    background-color: white;
    border-color: #71C1B4;
}

.uploadLinkBtn{
    color: #71C1B4;
    background-color: white;
    border-color: #B5DDC2;
}

.uploadLinkBtn:hover{
    background-color: #B5DDC2;
    color: white;
}

.idealist .card-header{
    padding:.50rem 1.25rem;
}

.idealist .fas {
    transition: .3s transform ease-in-out;
}
.idealist .collapsed .fas {
    transform: rotate(90deg);
}

.convergenceCard{
    min-height: 83vh;
    max-height: 83vh;
}

.btn-reject{
    background-color: #ED557E;
    color: white;
}

.btn-reject:hover{
    background-color: crimson;
    color: white;
}

.addtaskBtn{
    color: #3f8b7f;
    background-color: white;
    border-color: #B5DDC2;
}

.addtaskBtn:hover{
    background-color: #B5DDC2;
    color: #254e47;
}

.taskcolumn{
    min-height: 70vh;
}

.taskcolumn .taskbody{
    min-height: 70vh;
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.task.selected{
    z-index: 1;
}

.task .card-footer{
    padding: 0.3rem 1rem;
}