.wrapper {
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 5%;
}

.title-bar{
  align-items: center;
  width: 100%;
  height: 60px;
}

.bg-selfgreen{
  background-color: #71C1B4;
}

.bg-selfblue{
  background-color: #065B80;
}

.bg-selfpink{
  background-color: #ED557E;
}
