body{font-family: '微軟正黑體';}

.wrapper {
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 5%;
}

.title-bar{
  align-items: center;
  width: 100%;
  height: 60px;
  padding-top: 15px;
}

.bg-selfgreen{
  background-color: #71C1B4;
}

.bg-selfblue{
  background-color: #065B80;
}

.bg-selfpink{
  background-color: #ED557E;
}

/*側邊欄*/
#sidebar-wrapper {
  position: absolute;
  left: 0px;
  width: 200px;
  background-color: #065B80;
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
  /* font-size: 18px; */
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}

.sidebar-nav .leave{
  background: #247CA1;
}

.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  background: #065071;
  color: white;
  text-decoration: none;
}

.sidebar-nav li ul{
  list-style-type: none;
  padding-left: 30px;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}
@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
}

.page-wrapper {
  top: 56px;
  height: 100vh;
  position: relative;
}

.page-content{
  margin-left: 200px;
}

.mode-switch{
  height: 50px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
}

.mode-switch-btn{
  left: 35%;
}

.content{
  margin-left: 15px;
  margin-right: 15px;
}

.ck-editor__editable_inline {
  min-height: 200px;
}

/*讓card在col的情況下無左右padding*/
.nopadding{
  padding-left: 0;
  padding-right: 0;
}

.nopadding-right{
  padding-right: 0;
}

/*活動與評量設計內card-body預設高度*/
#setactivity .card-body{
  min-height: 50vh;
}

.assessment_link{
  color: #065B80;
  text-decoration: underline;
}

.assessment_link_del{
  color: #ED557E;
  text-decoration: underline;
}

.assessment_link_del:hover{
  color: crimson;
  text-decoration: underline;
}


