<p id="community_tag" style="display: none;"><%= community_tag %></p>

<div style="margin-top: 12px;">
    <div class="form-group row padding-sm">
        <label class="col-sm-2 col-form-label">選擇要收斂想法的標籤</label>
        <div class="col-sm-9">
            <select id="convergenceTag" class="form-control"></select>
        </div>
        <div class="col-sm-1 nopadding">
            <input type="button" class="btn btn-outline-info float-right selectNodeTag" value="送出" style="margin-right: 0.5em;">
        </div>
    </div>
    <div class="row">
        <!--想法列表-->
        <div class="col-4 padding-sm">
            <div class="card convergenceCard" id="convergenceIdeaList">
                <div class="card-header bg-selfgreen"><i class="far fa-lightbulb mr-1"></i><span class="cardheaderTagName"></span>想法列表</div>
                <div class="card-body nopadding-all" id="ideaListCardBody" style="overflow-y: auto;"></div>
            </div>
        </div>
        <!--收斂空間-->
        <div class="col padding-sm">
            <div class="card convergenceCard" id="convergenceSpace">
                <div class="card-header bg-7"><i class="fas fa-clipboard mr-1"></i><span class="cardheaderTagName"></span>收斂空間</div>
                <div class="card-body card-body-padding" style="overflow-y: auto;">
                    <div>
                        <textarea class="convergencesummernote" id="convergenceTextarea"></textarea>
                        <div class="btn-bg">
                            <div class="float-right">
                                <input type="button" class="btn btn-primary btn-sm my-1 saveResults" value="儲存">
                                <input type="button" class="btn btn-primary btn-sm my-1 showalert" value="產生收斂結果">
                            </div>
                        </div>
                    </div>
                    <hr class="hr-margin-sm">
                    <div>
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="form-group row" style="margin-bottom: 0;">
                                    <label class="col-sm-2 col-form-label nopadding-right">討論留言</label>
                                    <div class="col-sm">
                                      <input type="text" id="messageContentInput" class="form-control">
                                      <small class="text-muted">最多可輸入200字</small>
                                    </div>
                                    <div class="col-sm-1 nopadding">
                                        <input type="button" class="btn btn-outline-info float-right sendMessage" value="送出">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="convergenceMessageTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--提醒收斂完成-->
<div class="modal fade" id="alertConvergenceModal" tabindex="-1" role="dialog" aria-labelledby="alertConvergenceModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="alertConvergenceModalLabel"><i class="fas fa-exclamation-triangle"></i> 提醒</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          確定此標籤收斂已完成？
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary createNodeResults" data-dismiss="modal">確定</button>
        </div>
      </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/convergence.js"></script>