<div class="col-2 bg-selfblue nopadding fixed-left overflow-auto">
    <div class="">
        <!-- <div class="navbar-brand text-white">Bootstrap</div> -->
        <ul class="sidebar-nav">
            <li>
                <a data-toggle="collapse" data-target="#sidebarul">
                    <img src="/images/idea.svg" width="30" height="30" class="d-inline-block">訂定課程目標
                    <i id="ideaicon" class="sidebaricon fas fa-chevron-circle-up"></i>
                </a>
                <ul class="siderul collapse show" id="sidebarul"></ul>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#activityDesignUl">
                    <img src="/images/fee.svg" width="30" height="30" class="d-inline-block">活動與評量設計
                    <i id="activityicon" class="sidebaricon fas fa-chevron-circle-up"></i>
                </a>
                <ul class="siderul collapse show" id="activityDesignUl"></ul>
            </li>
        </ul>
    </div>
</div>